
body {
  justify-content: center;
  align-items: center;
}

.main-nav {
  background: #fff;
  padding: 10px 20px;
  border-radius: 5px;
  box-shadow: 5px 55px 50px -50px #b6b6b6; 
} 

ul {
  padding: 0;
  list-style: none;
}

.nav {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.nav a,
.nav img,
h1 {
  color: rgb(141, 139, 143);
  text-align: center;
  text-decoration: none;
  font-size: 1.8em;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 100;
}

.nav a:hover {
  color: black;
}

#index .main-nav .nav .item-1 a,
#validation .main-nav .nav .item-2 a,
#invoicing .main-nav .nav .item-3 a,
#time .main-nav .nav .item-4 a {
  text-decoration: underline;
}

.logo {
  margin-left: auto;
  margin-right: auto;
}

.form-flex input,
.search-display-flex input {
  text-transform: uppercase;
}

table {
  max-width: 600px;
}

td, th {
  border: 1px solid #ddd;
  text-align: left;
  padding: 8px;
}

table tbody tr:nth-child(odd) {
  background-color: #ddd;
}

table tbody tr:hover {
  background: lightblue;
}

#btnClear {
  display:none;
}

.overall-flex {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  border: none;
  flex-wrap: wrap;
}

.search-display-flex,
.form-flex {
  display: flex;
  flex-wrap: wrap;
  padding: 10px 10px;
  flex-direction: column;
  color: rgb(141, 139, 143);
  text-decoration: none;
  font-size: 1em;
  font-family: Arial, Helvetica, sans-serif;
  margin: 3% 5% 0 5%;
  border-style: none;
  max-width: 400px;
}

input,
select {
  border: 1px solid rgb(141, 139, 143);
  height: 25px;
  width: 400px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  color: #333333;
} 

/* Remove arrows from number input box */
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button,
input[type=date]::-webkit-inner-spin-button, 
input[type=date]::-webkit-outer-spin-button {
  -webkit-appearance: none; 
  margin: 0;
}


.button {
  color: #444444;
  background: #F3F3F3;
  border: 1px #DADADA solid;
  padding: 5px 10px;
  border-radius: 2px;
  font-weight: bold;
  font-size: 1em;
  outline: none;
  width: 100px;
}

.button:hover {
  border: 1px #C6C6C6 solid;
  box-shadow: 1px 1px 1px #EAEAEA;
  color: #333333;
  background: #F7F7F7;
}

.button:active {
  box-shadow: inset 1px 1px 1px #DFDFDF;   
}





/**********************************************************************************************/
/*MEDIA QUERIES*/
/**********************************************************************************************/

/* Media query for screen size less than 455px */
@media only screen and (max-width: 455px) {
  .logo {
      display: none;
  }

  .main-nav {
      padding: 5px 5px;
      border-radius: 5px;
      box-shadow: 5px 15px 15px -15px #b6b6b6;
  }

  .nav li:not(.logo) {
      margin-left: 3%;
      margin-right: 3%;
  }

  .nav {
      flex-direction: column;
      align-items: center;
  }
  
  .nav a {
      font-size: 1.2em;
  }

  input,
  select {
      width: 250px;
  }

}

/* Media query for screen size less than 679px */
@media only screen and (min-width: 950px),
        only screen and (min-width: 456px) {
  .logo {
      display: none;
  }

  .main-nav {
      padding: 5px 5px;
      border-radius: 5px;
      box-shadow: 5px 15px 15px -15px #b6b6b6;
  }

  .nav li:not(.logo) {
      margin-left: 3%;
      margin-right: 3%;
  }

  .nav a {
      font-size: 1.4em;
  }

  input,
  select {
      width: 400px;
  }

}


/* Media query for screen size less than 1140px */
@media only screen and (min-width: 1140px) {
  .logo {
      display: flex;
  }
  
  .nav li:not(.logo) {
      margin-left: 4%;
      margin-right: 4%;
      margin-top: 30px;
  }

  .nav a {
    font-size: 1.8em;
}
}